<div id="e1" class="films-component">
	<!-- Sort -->
	<div class="sort">
		<span>SORT:</span>
		<a href="/?title=asc&page=<%= currentPage %>">TITLE</a>
		<a href="/?year=asc&page=<%= currentPage %>">YEAR</a>
	</div>
	<!-- Films -->
	<div id="e2" class="flex-grid">
		<% films.forEach(function(film) { %>
			<div class="film-container col">
				<div class="poster">
					<img src="<%- film.poster %>" alt="poster" onerror="this.src='http://placehold.it/280x420';"">
				</div>
				<div class="film-info">
					<h3 class="year">
						<%= film.year %>
					</h3>
					<h2 class="title">
						<%= film.title %>
					</h2>
				</div>
			</div>
		<% }); %>
	</div>
	<!-- Pagination -->
	<div id="btm" class="pagination">
		<div class="page-btn">
			<% if (currentPage > 1) { %>
				<a href="/?page=<%= currentPage - 1 %>#btm"><i class="fa fa-caret-left"></i> Previous page</a>
			<% } %>
		</div>
		<span class="page-num"><%= currentPage %></span>
		<div class="page-btn">
			<% if (currentPage < pageCount) { %>
				<a href="/?page=<%= currentPage + 1 %>#btm">Next page <i class="fa fa-caret-right"></i></a>
			<% } %>
		</div>
	</div>
</div>
